* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 10px;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
  color: aliceblue;
  margin-bottom: 100px;
}
.main {
  border: solid 3px #090979;
  border-radius: 10px;
  width: 80%;
  margin: 0px auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
}
small {
  font-size: small;
  font-weight: 600;
  color: #798a7e;
}
h1,
h2 {
  font-weight: 300;
  text-align: center;
  font-size: 250%;
}
.date {
  text-align: center;
}
.total {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
}
.nepal {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.footer {
  padding: 10px;
  text-align: center;
}
